<%- include('./partials/header') %>
    <p>Welcome to <%= title %></p>


    <iframe width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/view?zoom=17&center=34.0130,-118.4952&key=AIzaSyAC4HSnQsWoGs2e8MMpNkb4lWAU5qSfTWE" allowfullscreen></iframe>

<%- include('./partials/footer') %>