<%- include('../partials/header') %>

<p>Let's add a pin</p>

<form action="/pins/create" method="POST">
<label>Book (Search by name or ISBN):
    <input type="text" name="book">
</label><br>
<label>Location (Search by name or address):
    <input type="text" name="location">
</label><br>

<input type="submit" value="Add Pin">

</form>

<%- include('../partials/footer') %>